<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <!-- Bootstrap CSS -->
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC"
      crossorigin="anonymous"
    />
    <title>Home</title>
  </head>
  <body>
    <%- include('./template/headers.ejs') %>
    <div class="container mt-5">
      <h2 class="text-center">Buat Orderan Kamu</h2>
      <br />
      <br />
      <div class="row mt-5 mb-5">
        <div class="col-8 mt-5 border-end">
          <!-- FORM DARI SINI ------------------------------------------------------->
          <form action="/orders/add" method="post">
            <div class="form-group mb-3">
              <label for="description">Apa Masalah Nya ?</label>
              <textarea
                name="description"
                class="form-control"
                rows="3"
              ></textarea>
            </div>
            <label for="service">Pilih Solusinya..</label>
            <div class="input-group mb-3">
              <% data.forEach(servis => { %>
              <div class="input-group-text">
                <input
                  name="services"
                  class="form-check-input mt-0"
                  type="checkbox"
                  value="<%= servis.id %>|<%= servis.price %>"
                />
              </div>
              <input
                type="text"
                class="form-control"
                value="<%= servis.name %>"
              />
              <% }) %>
            </div>

            <div class="input-group">
              <input
                disabled
                name="totalPrice"
                type="text"
                class="form-control"
                value="Rp.<%= result.totalPrice %>,-"
              />
              <span class="input-group-text">IDR</span>
              <span class="input-group-text">.00</span>
            </div>
            <br />
            <h6>Selesaikan Malasah kamu dengan 1 Klik</h6>
            <button type="submit" class="btn btn-info">Skuy !</button>
          </form>
          <!-- FORM SAMPAI SINI ----------------------------------------------------->
        </div>
        <div class="col-4 mt-5">
          <div class="container text-center">
            <h5>Your Order Summary</h5>
            <img class="w-50 h-50 text-center" src="<%= resQr %>" alt="" />
            <p>Scan Above Code for details of your order</p>
            <br />
            <br />
            <% if (resQr) { %> <%- include('./template/modal-success.ejs') %>
            <a href="/orders"
              ><button class="btn btn-warning">See Your Orders</button></a
            >

            <% } %>
          </div>
        </div>
      </div>
    </div>
    <script src="/controllers/OrderController.js"></script>
    <%- include('./template/footer.ejs') %>
  </body>
</html>
